@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1e1e1e;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    place-content: center;
}

p{
    font-size: 160px;
    color: white;
    letter-spacing: 5px;
    font-family: 'Poppins', sans-serif;
}

span {
    font-size: 60px;
}

button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    color: white;
    border: none;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.buttoncontainer {
    margin-left: 20px;
    display: none;
    animation: transitionIn 1s;

}

#blue {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
#green {
    background: linear-gradient(90deg, rgba(16,99,9,1) 0%, rgba(28,136,64,1) 35%, rgba(77,208,198,1) 100%);
}
#red {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
#gray  {
    background: black;
}

.secondcontainer {
    display: flex;
    align-items: center;
    transition: .5s;
    height: 5vh;
    margin-top: -15vh;
    margin-left: 50px;
}

#arrow ,#arrow1{
    cursor: pointer;
    font-size: 80px;
}
#arrow1 {
    display: none;
    animation: transitionIn 1s;

}

@media only screen and (max-width: 600px){
    p {
        font-size: 70px;
    }
    span {
        font-size: 25px;
    }
}

@keyframes transitionIn {
    from {
        transform: translateX(-5rem);
    }
    to {
        transform: translateX(0);
    }
}